# env
.direnv
.env

# build
target/

# node
node_modules/
dist/

# config
config.toml

# ide
.idea/

# data
data/
!data/.gitkeep
/library/
temp/
ingest/

# misc
tmp/
/core
rustypipe_cache.json
rustypipe_reports/

# logs
out
